body {
    background: #5e9b77
}
h1{ 
    text-align:center;
    color: rgb(41, 34, 112);
}

p {
    text-align: center;
}
H2{text-align: center;}
em strong {
    color: #973030;
}
h3{text-align: center;
color: rgb(19, 58, 91);
}
li{text-align: center;}
